---
import { Image } from 'astro:assets';
import heroImage from '../../assets/Smiling Programmer at Work_transparent.png';
import { basic } from '../../config/cv.json';
---

<section class="py-5 px-4 sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div class="relative flex justify-center">
                <Image class="w-full md:max-w-md lg:max-w-md"
                    src={heroImage}
                    loading="eager"
                    alt="Andrew Pritykin" />
            </div>
            <div>
                <p class="text-lg text-offset">
                    {basic?.job}
                </p>

                <h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3">
                    {basic?.name}
                </h1>

                <p class="mt-5 text-base sm:text-xl">
                    {basic?.summary}
                </p>

                <div class="mt-10 sm:flex sm:items-center sm:space-x-8">
                    <a href=`/cv/${basic?.cv_file_name}` title="Download CV" download
                        class="inline-flex items-center justify-center px-4 py-4 text-base text-white
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:bg-secondary focus:bg-secondary" role="button">
                        Download CV
                    </a>
                    <a href="https://calendly.com/apritykin/30-min-meeting" target="_blank" rel="noopener noreferrer"
                        class="inline-flex items-center justify-center px-4 py-4 text-base text-white
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:bg-secondary focus:bg-secondary mt-4 sm:mt-0" role="button">
                        Schedule a Call
                    </a>
                </div>
                <div class="mt-6 flex space-x-6">
                    <a href="mailto:apritykin@gmail.com" class="block transition-all duration-300 hover:text-offset focus:text-offset" aria-label="Email">
                        <i class="fas fa-envelope text-2xl"></i>
                    </a>
                    <a href="https://github.com/apritykin" target="_blank" rel="noopener noreferrer" class="block transition-all duration-300 hover:text-offset focus:text-offset" aria-label="GitHub">
                        <i class="fab fa-github text-2xl"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/andrewpritykin/" target="_blank" rel="noopener noreferrer" class="block transition-all duration-300 hover:text-offset focus:text-offset" aria-label="LinkedIn">
                        <i class="fab fa-linkedin-in text-2xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
